<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/gtgp/main.css" />
    <script
      type="text/javascript"
      src="/static/gtgp/functionality.js"
    ></script>
    <title>GTGP - 404</title>
  </head>
  <body>
    <!-- Hello there -->
    <div class="navbar">
      <a href="" class="navbar_title navbar_spacer">GTGP</a>
      <div class="content_spacer"></div>
      <a
        href="javascript:void(0);"
        onclick="hamburger()"
        class="hamburger"
        name="hamburger"
      >
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </a>
      <div class="navbar_breaker"></div>
      <ul class="navbar_navigator" id="hamburger_menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="upload.html">Upload</a></li>
        <li><a href="manual.html">Manual</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
    <div class="text_all">
      <h2>404 Not Found Error</h2>
      <p>
        This page isn't available. Sorry about that.
        <br />
        Try going back to the <a href="home.html">home page</a>.
      </p>
    </div>
  </body>
</html>
