<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/gtgp/main.css"/>
    <script
            type="text/javascript"
            src="/static/gtgp/functionality.js"
    ></script>
    <title>GTGP - Upload</title>
</head>
<body>
<!-- Hello there -->
<div class="navbar">
    <a href="" class="navbar_title navbar_spacer">GTGP</a>
    <div class="content_spacer"></div>
    <a
            href="javascript:void(0);"
            onclick="hamburger()"
            class="hamburger"
            name="hamburger"
    >
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </a>
    <div class="navbar_breaker"></div>
    <ul class="navbar_navigator" id="hamburger_menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="">Upload</a></li>
        <li><a href="manual.html">Manual</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
</div>
<div class="text_all">
    <h1>Upload</h1>
    <h2>Gene Panel Upload</h2>
    <p>Upload up to date GenePanel file here. This the contents must be tab separated.<br>
    File must contain column "Symbol_HGNC", "Aliases", "GenePanels_Symbol" and "GenePanel"</p>
    <h3>Upload</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user_input">
            <label for="editor">File:</label> <br/>
            <textarea
                    type="text"
                    name="editor"
                    id="editor"
                    placeholder="File content displayed when GenePanel uploaded"
            ></textarea><br>
            <input type="file" id="filetoRead" accept=".csv,.tsv"/><br>

            <script>
                document.getElementById("filetoRead").addEventListener("change", function () {
                    var file = this.files[0];
                    if (file) {
                        var reader = new FileReader();
                        reader.onload = function (evt) {
                            console.log(evt);
                            document.getElementById("editor").value = evt.target.result;
                        };
                        reader.onerror = function (evt) {
                            console.error("An error ocurred reading the file", evt);
                        };
                        reader.readAsText(file, "UTF-8");
                    }
                }, false);
            </script>
            <button type="submit" name="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
