body {
  margin: 0px;
  background-color: white;
  font-family: "Segoe UI", "Open Sans", sans-serif;
}

div.text_all {
  padding-left: 12px;
  font-family: "Segoe UI", "Open Sans", sans-serif;
}

div.user_input {
  font-family: "Segoe UI", "Open Sans", sans-serif;
}

/* Navigation Bar - Big Screens */
.navbar_spacer {
  margin-left: 160px;
}

.content_spacer {
  flex: 1 1 0px;
  max-width: 60px ;
  min-width: 0px;
}

div.navbar {
  color: lightgray;
  background-color: #23272a;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

div.navbar_breaker {
  flex-basis: 100%;
  height: 0px;
  display: none;
}

a.navbar_title {
  text-decoration: none;
  font-size: 24px;
  color: lightgray;
  display: flex;
  align-items: center;
}

ul.navbar_navigator {
  list-style-type: none;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

ul.navbar_navigator > li {
  float: left;
  height: 100%;
}

ul.navbar_navigator > li a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  padding: 0px 16px;
  color: lightgray;
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
}

ul.navbar_navigator > li a:hover {
  background-color: lightgray;
  color: #23272a;
}

a.hamburger {
  height: 100%;
  width: 52px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

a.hamburger > div {
    width: 32px;
    height: 3px;
    background-color: lightgray;
    margin: 2px 0;
  }

a.hamburger:hover {
  background-color: lightgray;
}

a.hamburger:hover > div {
  background-color: #23272a;
}

/* Spacing - Big Screen */
@media only screen and (max-width: 992px) {
  .navbar_spacer {
    margin: 0;
  }

  div.navbar {
    justify-content: center;
  }

  a.navbar_title {
    margin-left: 16px;
  }
}

/* Small screen size (Big phones, maximaal 600px)*/
@media only screen and (max-width: 600px) {
  .navbar_spacer {
    margin-left: 16px;
  }

  div.navbar {
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
  }

  a.navbar_title {
    height: 52px;
  }

  div.navbar_breaker {
    display: initial;
  }

  ul.navbar_navigator {
    display: none;
  }

  ul.navbar_navigator > li {
    height: 52px;
  }

  ul.navbar_navigator_dynamic {
    display: flex;
    flex-flow: column;
    min-width: initial;
    align-content: flex-start;
    width: 100%;
  }

  a.hamburger {
    display: flex;
    margin-left: auto;
    height: 52px;
  }
  li {
    margin-bottom: 2px;
}

}
